<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post</h1>
   <p>Post id :<%=post.id %></p>
   <p>Post username :<%=post.name %></p>
   <form method="POST" action="/posts/<%=post.id %>?_method=Patch ">
    <textarea rows="10" cols="35" name="notes"><%=post.notes %></textarea>
    <button type="submit">Update Post</button>
   </form>
   <script src="index.js"></script>
</body>
</html>