<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Here are your posts in details</h2>
    <h4>post id :<%=post.id %></h4>
    <h3><%=post.name%></h3>
    <p><%=post.content%></p>
     <p><%=post.notes %></p>
     <a href="/posts">Back to all posts</a>
     <script src="index.js"></script>
</body>
</html>